* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.pagify {
    max-width: 1024px;
    margin: auto;
    padding: 0 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header, .hero-section {
    background-color: #1f2937;
}

.hero-section, .cards-section, .quote-wrapper, .cta-section {
    flex-grow: 1;
}

.header ul {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.header-link, .hero-desc {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-desc {
    margin-bottom: 12px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-section > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 16px;
    gap: 36px;
}

.hero-section img {
    flex-basis: 512px;
}

.hero-content {
    flex-basis: 512px;
}

.sign-up-btn {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
}

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
    margin-bottom: 72px;
}

.box {
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.cards-section > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
    max-width: 880px;
    margin: auto;
    padding: 0 16px;
}

.card {
    flex: 1 1 25%;
}

.card p {
    text-align: center;
    margin-top: 16px;
}

.quote-wrapper {
    background-color: #e5e7eb;
}

.quote-content {
    padding: 72px 16px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bolder;
    align-self: flex-end;
}